body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-container {
    max-width: 986px;
    border: 3px solid black;
    padding: 20px;
    margin: 0 auto;
}

.square {
    border: 1px solid black;
}

.navbar {
    /*border-radius: 160px/16px;*/
    border-radius: 10em/1em;
    border: 1px solid black;
   /* padding-right: 10px;*/
}

.bord {
    padding: 1px;
}

.project-info {
    border: 1px solid black;
}

.space {
    margin-bottom: 20px;
}

.header-project {  
    margin-bottom: 0px;   
    border: 1px solid black;
    border-radius: 8px 8px 0px 0px;
}

.project-info {
    text-align: center;
    height: 150px;
}

.content-projects {
    padding-left: 50px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 8px 8px;
}

.project {
    border: 1px solid black;
    margin: 10px 20px 10px 20px;
    height: 75px;
}

.li-hover:hover {
   /* border-radius: 5em/1em;*/
    border-radius: 100px/25px;
    background-color: #f1da36;
    background: linear-gradient(to top, #fefcea, #f1da36);
}

.li-hover-name:hover {
   /* border-radius: 5em/1em;*/
    /*border-radius: 100px/25px;*/
    background-color: #f1da36;
    background: linear-gradient(to top, #fefcea, #f1da36);
}
.li-hover-glyphicon:hover {
   /* border-radius: 5em/1em;*/
    border-radius: 0px 10px/10px 10px/10px 0px;
    background-color: #f1da36;
    background: linear-gradient(to top, #fefcea, #f1da36);
}

.li-hover-logo:hover {
   /* border-radius: 5em/1em;*/
    border-radius: 100px/25px;
    background-color: #f1da36;
    background: linear-gradient(to top, #fefcea, #f1da36);
}

.project:hover {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 20px #6B8E23;
    -moz-box-shadow: 0px 0px 20px #6B8E23;
    box-shadow: 0px 0px 20px #6B8E23;
}